/*=====================================
リセット
=====================================*/

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:#05070c;

    color:white;

    font-family:"Segoe UI",sans-serif;

    width:100vw;

    height:100vh;

    overflow:hidden;

}

/*=====================================
メイン
=====================================*/

#mainContainer{

    display:grid;

    grid-template-columns:

        180px
        1fr
        180px;

    height:calc(100vh - 70px);

    margin-top:70px;

}
/*=====================================
左
=====================================*/

#leftPanel{

    border:2px solid red;

    padding:20px;

}

/*=====================================
中央
=====================================*/

#centerPanel{

    position:relative;

    border:2px solid blue;

    overflow:hidden;

    height:100%;

}
/*=====================================
右
=====================================*/

#rightPanel{

    border:2px solid lime;

    padding:20px;

}

/*=====================================
ヘッダー
=====================================*/

#topBar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:70px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    background:#111;

    z-index:100;

}

#gameTitle{

    font-size:28px;

    font-weight:bold;

}

nav{

    display:flex;

    gap:15px;

}

nav button{

    background:none;

    color:white;

    border:none;

    cursor:pointer;

}

/*=====================================
背景
=====================================*/

#backgroundArea{

    width:100%;

    height:100%;

    position:relative;

}

#backgroundImage{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:cover;

    z-index:0;

}

#characterImage{

    position:absolute;

    left:50%;

    bottom:0;

    transform:translateX(-50%);

    height:85%;

}

/*=====================================
ACTIVE
=====================================*/

#activeBadge{

    position:absolute;

    left:30px;

    top:30px;

    background:#00aaff;

    color:white;

    padding:10px 20px;

    border-radius:20px;

    z-index:50;

}

/*=====================================
カルーセル
=====================================*/

#carouselArea{

    position:fixed;

    left:50%;

    bottom:15px;

    transform:translateX(-50%);

    width:55%;

    z-index:100;

}

#characterList{

    display:flex;

    gap:15px;

    overflow-x:auto;

    padding:10px;

}

.characterCard{

    min-width:100px;

    text-align:center;

    border:2px solid white;

    padding:10px;

}

.characterCard img{

    width:70px;

    height:70px;

    border-radius:50%;

}

/*=====================================
ガラス
=====================================*/

.glass{

    border:2px solid white;

    padding:15px;

    margin-bottom:20px;

}
