#battle-ui{
  width:90%;
  max-width:1200px;
  margin-top:15px;
  padding:10px;
  border:1px solid #444;
  background:#111;
}

.skill-btn{
  margin:4px;
  padding:8px 12px;
  background:#222;
  color:#8ae1ff;
  border:1px solid #555;
  cursor:pointer;
}

.skill-btn:hover{
  background:#333;
}
